.Certificates {
  max-width: 100vw;
  padding: 5rem;
}
/*-------------- Responsive Design ------------------- */
/*-------------- MOBILE ------------------- */
@media screen and (max-width: 450px) {
  .Certificates {
    min-width: 100%;
    padding: 2rem;
  }
}
