.Capabilities {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Capabilities__title {
  text-transform: uppercase;
}
.Capabilities__panel {
  margin-top: 5rem;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Capabilities__left {
  width: 40%;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Capabilities__left__card {
  width: 17rem;
  height: 17rem;
  margin: 10px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Capabilities__left__card__icon {
  height: 8rem;
  width: 8rem;
  margin-bottom: 2rem;
}
.Capabilities__right {
  margin-left: 3rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Capabilities__right__title {
  font-weight: bolder;
  font-size: x-large;
  margin-bottom: 2rem;
}
/*-------------- Responsive Design ------------------- */
/*-------------- MOBILE ------------------- */
@media screen and (max-width: 450px) {
  .Capabilities {
    margin-top: 10rem;
    height: 100vh;
  }
  .Capabilities__title {
    text-transform: uppercase;
  }
  .Capabilities__panel {
    margin-top: 1rem;
    width: 100%;

    flex-direction: column;
  }
  .Capabilities__left {
    width: 100%;
    min-height: 50vh;
  }
  .Capabilities__left__card {
    width: 12rem;
    height: 12rem;
    margin: 10px;
  }
  .Capabilities__left__card__icon {
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;
  }
  .Capabilities__right {
    margin: 2rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
