.MainBanner {
  background-color: var(--background);
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.MainBanner__left {
  width: 30%;
  height: 80%;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.MainBanner__left__photo {
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.MainBanner__left__photo__image {
  border-radius: 50%;
  width: 90%;
}
.MainBanner__left__socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.MainBanner__right {
  /* background-color: red; */
  width: 30%;
  height: 80%;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MainBanner__right__text {
  /* background-color: blue; */
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
Button {
  background-color: green;
}
