.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.Navbar__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  width: 30%;
}
.Navbar__logo__image {
  height: 50px;
  margin-right: 10px;
}
.Navbar__HeaderTabs {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: flex-end;
}
.Navbar__HeaderTabs__Tab,
.Navbar__HeaderTabs__Tab__current {
  margin: 0px 10px;
  padding: 5px 10px;
  color: white;
}
.Navbar__HeaderTabs__Tab__current {
  border-bottom: 3px solid white;
}

/*-------------- Responsive Design ------------------- */
/*-------------- MOBILE ------------------- */
@media screen and (max-width: 450px) {
  .Navbar {
    width: 100vw;
    flex-direction: column;
  }
  .Navbar__logo {
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  .Navbar__HeaderTabs {
    width: 100vw;
    margin: 1em;
    display: flex;
    justify-content: center;
  }
  .Navbar__HeaderTabs__Tab,
  .Navbar__HeaderTabs__Tab__current {
    margin: 0px 5px;
    padding: 2px 10px;
  }
}

/*-------------- TABLET ------------------- */
@media screen and (max-width: 850px) {
  .Navbar {
    width: 100vw;
  }
  .Navbar__logo {
    width: 200rem;
  }
  .Navbar__HeaderTabs {
    width: 100vw;
    margin: 1em;

    justify-content: center;
    margin-left: -2em;
  }
  .Navbar__HeaderTabs__Tab,
  .Navbar__HeaderTabs__Tab__current {
    margin: 0px 5px;
    padding: 2px 10px;
  }
}
