.Testimonials {
  background-color: var(--background);
  height: 50vh;
  padding: 5rem 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Testimonials__title {
  text-transform: uppercase;
  margin-bottom: 10rem;
}
.swiper {
  width: 100%;
  height: 100%;
  color: black;
  margin-top: 3rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
