@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap");
.AboutMe {
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.AboutMe__main {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}
.AboutMe__main__image {
  display: flex;
  flex-direction: column;
}
.AboutMe__main__image__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 600px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#AboutMe__photo {
  margin-top: -3rem;
  border-radius: 100%;
  transform: scale(1.5);
}
.AboutMe__main__image__social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  z-index: 2;
  position: relative;
  top: -4rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#AboutMe__icon {
  font-size: 40px;
}
#AboutMe__icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s;
}
.AboutMe__main__text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  margin-left: 40px;
}
.AboutMe__main__text__1 {
  color: rgba(255, 255, 255, 0.712);
  margin-top: 6rem;
  font-size: large;
  font-weight: lighter;
}
.AboutMe__main__text__2 {
  margin-top: -0.5px;
  font-size: 95px;
  font-weight: bolder;
  line-height: 95%;
  text-align: left;
}
.AboutMe__main__text__3 {
  color: rgba(255, 255, 255, 0.849);
  margin-top: -60px;
  font-size: 25px;
  /* line-height: 85%; */
  text-align: left;
}
.AboutMe__main__text__button {
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  margin-top: 5rem;
  margin-left: 10rem;
}
.AboutMe__main__text__button:hover {
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.AboutMe__capabilities {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
#AboutMe__title {
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.AboutMe__capabilities__content {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}
.AboutMe__capabilities__content__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  max-width: fit-content;
  margin-right: -65%;
}
#Aboutme__grid__uiux,
#Aboutme__grid__web,
#Aboutme__grid__mobile,
#Aboutme__grid__iot {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Aboutme__grid__uiux {
  grid-area: 1 / 1 / 2 / 2;
}
#Aboutme__grid__web {
  grid-area: 1 / 2 / 2 / 3;
}
#Aboutme__grid__mobile {
  grid-area: 2 / 1 / 3 / 2;
}
#Aboutme__grid__iot {
  grid-area: 2 / 2 / 3 / 3;
}
#Aboutme__grid__icon {
  color: white;
  width: 150px;
  height: 150px;
}
#Aboutme__grid__text {
  font-size: 30px;
  margin-bottom: -10px;
  color: white;
  max-width: 200px;
  word-wrap: normal;
  text-justify: inter-word;
  text-align: center;
}
.AboutMe__capabilities__content__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}
#Aboutme__why {
  font-size: 40px;
  font-weight: bold;
}
#Aboutme__why__ans {
  max-width: 700px;
  font-size: 23px;
  word-wrap: normal;
  text-align: justify;
  color: rgba(255, 255, 255, 0.795);
}
.AboutMe__skillset {
  margin-top: -55rem;
  margin-left: -5rem;
  display: flex;
  flex-direction: column;
}
.AboutMe__skillset__charts {
  display: flex;
  flex-direction: row;
}
.boutMe__skillset__charts__panel {
  display: flex;
  flex-direction: column;
}
#AboutMe__chart {
  color: white;
  font-size: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 40px;
}
#AboutMe__chart__label {
  margin-right: 15px;
  width: 200px;
  text-align: right;
}
#AboutMe__chart__percent {
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}
#chart__bar {
  width: 500px;
}
progress {
  -webkit-appearance: none;
}
::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  max-height: 10px;
}
::-webkit-progress-value {
  background-color: white;
  border-radius: 30px;
}
.AboutMe__testimonials {
  margin-top: 100px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.AboutMe__testimonial__carouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 100vh; */

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}
#AboutMe__carouselItem__span1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
}
#AboutMe__carouselItem__quote {
  font-family: "News Cycle", sans-serif;
  font-size: 10rem;
  line-height: 2rem;
  margin: 5rem 0 -1rem 0;
}
#AboutMe__carouselItem__text {
  font-size: 1.5rem;
  color: white;
  text-align: justify;
  width: 85%;
  margin-bottom: 5rem;
}
#AboutMe__carouselItem__span2 {
  height: 12rem;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  border-radius: 0 0 10px 10px;
  margin-top: 4rem;
}
#AboutMe__carouselItem__image {
  border-radius: 50%;
  border: 6px solid white;
  position: relative;
  top: -5rem;
}
#AboutMe__carouselItem__name {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-top: -5rem;
}
#AboutMe__carouselItem__title {
  font-size: 1.5rem;
  color: black;
  margin-top: -2rem;
}

/*/////// MOBILE ////////////*/
@media screen and (max-width: 480px) {
  .AboutMe__main {
    flex-direction: column;
    max-width: 100vw;
    margin-top: 0.5rem;
    padding-top: 0.2rem;
    align-items: center;
  }
  .AboutMe__main__image {
    transform: scale(0.9);
  }
  .AboutMe__main__image__photo {
    height: 70vh;
    width: 99vw;
  }
  #AboutMe__photo {
    transform: scale(0.9);
  }
  .AboutMe__main__image__social {
    width: 93vw;
    padding: 1rem 0.7rem;
  }
  #AboutMe__icon {
    font-size: 1.8rem;
  }
  .AboutMe__main__text {
    width: 90%;
    margin-top: -5rem;
    padding-right: 1.2rem;
    align-self: center;
  }
  .AboutMe__main__text__2 {
    font-size: 3.5rem;
  }
  .AboutMe__main__text__3 {
    font-size: 1.3rem;
    margin-top: -2rem;
  }
  .AboutMe__main__text__button {
    align-self: center;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin-left: -1rem;
    margin-top: 1.2rem;
  }
  #AboutMe__title {
    font-size: 2.5rem;
  }
  .AboutMe__capabilities__content {
    flex-direction: column;
    width: 100vw;
    align-items: center;
    /* justify-content: center; */
  }
  .AboutMe__capabilities__content__grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-left: 1.3rem;
  }
  #Aboutme__grid__uiux,
  #Aboutme__grid__web,
  #Aboutme__grid__mobile,
  #Aboutme__grid__iot {
    width: 10rem;
    height: 10rem;
    padding: -1rem;
  }
  #Aboutme__grid__icon {
    margin-top: -3rem;
    transform: scale(0.5);
  }
  #Aboutme__grid__text {
    font-size: 1.1rem;
    margin-top: -1.5rem;
  }
  .AboutMe__capabilities__content__text {
    margin-top: -30rem;
    max-width: 90%;
  }
  #Aboutme__why {
    font-size: 2rem;
  }
  #Aboutme__why__ans {
    margin-top: -1rem;
    font-size: 1rem;
    word-wrap: normal;
    text-align: justify;
    color: rgba(255, 255, 255, 0.795);
  }
  .AboutMe__skillset {
    margin-top: 5rem;
    margin-left: 0rem;
  }
  .AboutMe__skillset__charts {
    flex-direction: column;
    align-items: center;
  }
  .AboutMe__skillset__charts__panel {
    max-width: 50%;
  }
  #AboutMe__chart {
    font-size: 1.2rem;
  }
  #AboutMe__chart__label {
    font-size: 01rem;
    line-height: 200%;
  }
  #AboutMe__chart__percent {
    font-size: 0.75rem;
    line-height: 50%;
  }
  .AboutMe__testimonials {
    margin-top: 5rem;
  }
  .AboutMe__testimonial__carouselItem {
    /* transform: scale(0.4); */
    width: 100%;
    height: 120vh;
  }
  #AboutMe__carouselItem__span1 {
    width: 25%;
    margin-top: 1rem;
    font-size: 2rem;
  }
  #AboutMe__carouselItem__span2 {
    margin-top: 5rem;
    height: 20vh;
  }
  #AboutMe__carouselItem__image {
    transform: scale(0.5);
    top: -12rem;
  }
  #AboutMe__carouselItem__name {
    margin-top: -17rem;
    font-size: 1.5rem;
  }
  #AboutMe__carouselItem__title {
    font-size: 1.2rem;
  }
}
