@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

:root {
  --background: #032174;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
:root::-webkit-scrollbar {
  display: none;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: white;
}
