.Portfolio {
  background-color: var(--background);
  padding: 5rem 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}
/*-------------- Responsive Design ------------------- */
/*-------------- MOBILE ------------------- */
@media screen and (max-width: 450px) {
  .Portfolio {
    padding: 0rem;
    gap: 50px;
  }
}
/*-------------- TABLET ------------------- */
@media screen and (max-width: 850px) and (min-width: 450px) {
  .Portfolio {
    padding: 0rem 2rem;
    gap: 50px;
  }
}
